
/** style de police**/
@font-face{
    font-family:'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf');
  }
@font-face{
    font-family:'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
body,html{
	font-family: 'Roboto-Regular', 'Roboto-Medium';
	width: 100%;
	overflow-x:hidden;
    font-style: normal;

}
/** mise en page du header**/
 
.menu{
	display: flex;	
	background-color: floralwhite;
	height: 50px;
	justify-content:space-between;
	padding: 20px;	
}
#nav{
	display: inline-block;
	padding: 30px;
	justify-content: space-between;	
}
#nav a{
	padding: 30px;
	text-decoration: none;
	color: blue;
	font-size:20px;	
}
#main{
	display: flex;
}
#logo{
	height: 60px;	
}
h1{
	color:blue;
	
}

main{
	display: flex;
}
#macarte{
	display: flex;
	height: 500px;
	width: 90%;
	margin-left: 0;
	border: 1px solid black;
	margin-bottom: 20px;
	margin-top: 20px;
	z-index: 1;
  }
/** mise en page du formulaire**/
#formulaire {
    background-color:rgba(224, 210, 210, 0.5);
    width: 25%;
    border: solid green 2px;
}
#sinature{
	display: none;
	flex-direction: column;
	justify-content: space-around;
}
#description-canvas{
	width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;
	margin: auto;
	background-color:bisque;
	margin-bottom: 18px;
}
#canvas { 
	border-radius: 6px;
	margin-bottom: 14px;
	z-index: 5;
	position: absolute;
	cursor: pointer;
}
.btn-reservation,#btn-reset{
	margin-top: 15px;
	animation: apparition 1s ease;
	-webkit-animation : apparition 1s ease;
}
#signature.btn-reservation{
	font-size: 20px;
}

#boutoncanvasconfirmer {
  font-size: 20px;

}
.block {
	display: flex;
	border: 1px solid black;
	margin: 10px;
	margin-top: 20px;
	height: 459px;
	line-height: 30px;
	width: 450px;
	padding: 10px;
	background-color: white;
}
.titleInfoStation {
	text-align: center;
}
#listInfo {
	list-style-type: none;
	padding: 0;
}

.info {
	font-weight: bold;
	font-size: 1.2em;
}

.button {
	margin:auto;
}

form {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.butName {
	margin-top: 20px;
}

canvas {
	border: 2px solid black;
	background-color: cornsilk;
	margin: auto;
	margin-top: 300px;
	width: 300px;

}

form div {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#infoReservation {
	border: 2px solid black;
	border-radius: 20px;
	margin: auto;
	margin-bottom: 10px;
	width: 80%;
	height: auto;
	text-align: center;
	line-height: 20px;
}


#infoReservation span {
	font-weight: bold;
}

#stationConfirm {
	display: block;
	font-weight: bold;
	margin: auto;
	width: 40%;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}